*
{
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url("IMG/kayle-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;

    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo
{
    max-width: 400px;
    margin-bottom: 50px; /* Space between the logo and search box */
}
@media (width <= 600px)
{
    .logo
    {
        width: 200px;
    }
}
.search
{
    --padding: 14px;

    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #fff; /* Color of the search box */
    transition: box-shadow 0.25s;
}
.divider
{
    font-size: 35px; /* divider height */
    padding: 0 10px; /* divider spacing between elements */
    color: rgba(0, 0, 0, 0.25); /* divider color */
    line-height: 0; /* del height */
    vertical-align: middle; /* align with other elements */
}
.search:focus-within
{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
.search input[type="text"]
{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 100px;

    box-shadow: none;
}

.search-input#name-input
{
    width: 150px;
}

.search-input#tag-input
{
    width: 4em; /* Slightly larger than the width of 4 uppercase letters */
}

.search-input::placeholder,
.search-icon
{
    color: rgba(0, 0, 0, 0.25);
}
.search-select
{
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.25);
    margin-left: 0;
    outline: none;
    border: none;
    background: transparent;
    appearance: none;
    border-radius: 5px; /* Match the search box radius */
    width: 10em;
}
.search-select:focus,
.selected-option
{
    color: #333333;
}
.search-button { /* Search button properties */
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.25); /* Match the placeholder color */
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-left: auto; /* Move the button to the right */
}
.footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}
.footer-link {
    color: inherit; /* Make link inherit color from parent */
    text-decoration: none; /* Remove underline */
}
