*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
}

.top-bar
{
    background-color: #75E6DA;
    color: #05445E;

    height: 6vh;
    min-height: 40px;
    text-align: left;
    vertical-align: center;
}

.logo
{
    font-size: 16px;
    width: 20%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    float: left;
}
.logo img
{
    height: 6vh;
    min-height: 40px;
}

.login
{
    display: flex;
    justify-content: flex-end; /* Wyśrodkowanie w poziomie na prawo */
    align-items: center; /* Wyśrodkowanie w pionie */
    padding-right: 20px; /* Dodaj trochę paddingu, aby guzik nie dotykał prawej krawędzi ekranu */

    height: 6vh;
    width: 80%;
    float: left;
    text-align: right;
}
.login button
{
    background-color: #05445E; /* Dark background color */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size */
}